body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-statistika {
  // max-width: 500px;
  padding: 15px;
  margin: 0 auto;

  h4 {
    font-size: 17px;
    font-weight: normal;
  }
}

.container-inner {
  margin-top: 20px;
}
